<%= form_for(@article) do |f| %>
  <form>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control content' %>
    </div>

    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
    </div>

  </form>
<% end %>
